body {
    background-image: url("../images/background.png")
}

img {
    width: 32%;
    height: 400px;
    object-fit: fill;
    margin: 0 auto;
    border: solid 5px;

}
#standing {
    color: aliceblue;
    text-align: center;
    background-color: black;
    margin-left:1%;
    margin-right:1%;
    display:block;
    padding: 1% 1% 1% 1%;

}
#imgcontainer {
margin-bottom: 10px;
text-align: center;
}

#chatroom {
    width: 33%;
    margin-top: 1%;
    margin-left:1%;
    padding-left:0.5%;
    border: 2px solid green;
    background-color:  rgba(20, 20, 20, 0.623);
    color: white;
}

#chatroom p {
    margin-top:2px;
    margin-bottom:2px;
}

#chat {
    margin-left: 1%;
    margin-top: 1%;
    font-size: 24px;
}

#chatsubmit, #ready {
    background-color: rgb(41, 8, 226);
    color:wheat;
    font-size: 24px;
}

#ready {
    margin-left:1%;
}

#header {
    text-align: center;
    width: 100%;
    left: 50%;
    margin: 0 auto;
    border: 2px solid gray;
    margin-bottom: 1%;
    background-color: rgba(20, 20, 20, 0.623);
    color: wheat;
}
@media only screen and (max-width: 764px) {
    img {
height:150px; 
    }
    #chatroom {
        width: 95%;
    }
  }